/* Home.css */

.home-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.login-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth hover transition */
}

.login-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
